.input {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: 1px solid #B4B6C4;
}

.textarea {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: 1px solid #B4B6C4;
    resize: none;
}