.add-new-team-btn {
  cursor: pointer;
  margin-left: auto;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 5px;
  height: 35px;
  padding: 5px 10px;
  font-weight: 600;
}

.add-new-team-title {
  color: #30bcc7;
  font-weight: 600;
}

.add-team-btn {
  background-color: #ffc500;
  color: black;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  padding: 11px;
  width: 100%;
  margin: 10px 0;
}

table.allTeam-table {
  margin: 15px 0;
  width: 100%;
  background-color: #fcfcfc;
  border: 0px !important;
  color: rgb(83, 83, 83);
}

table.allTeam-table,
tr {
  border-style: solid;
  border-collapse: collapse;
}
tr {
  border: 0px solid;
  border-bottom: 1px solid rgb(197, 197, 197);
  height: 35px;
}

table.allTeam-table th {
  text-align: left;
}
table.allTeam-table td.deleteTd {
  text-align: center;
}
