.departments-page {
  padding: 2%;
  background-color: #fafafb;
  min-height: 100vh;
}

.departments-title {
  margin: 10px 0;
}

.all-departments {
  margin: 20px 0;
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 20px;
}

.department-Card {
  background-color: #e1edf6;
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
}

.dp-card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #0079bf;
}

.department-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  border: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 0 10px 0 10px;
  background-color: #ffffff;
  position: relative;
}

.department-option select {
  padding-top: 3px;
}

.department-option label {
  width: inherit;
  color: #777;
  padding: 2px 8px 0;
}

.tasks-count {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #0079bf;
}

.tasks-count>img {
  margin-right: 5px;

}

.teams {
  /* flex-wrap: wrap; */
  height: 3.5em;
  white-space: nowrap;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
}

.teamName-badge {
  border-radius: 5px;
  color: rgb(75, 75, 75);
  width: auto;
  padding: 1%;
  margin: 5px;
  border: 1.5px solid #1e89c750;
  height: fit-content;
  margin-top: 1em;
}

.counter-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.counter-title {
  font-weight: 600;
  margin-bottom: 5px;
  color: #474747;
}

.hrVertical {
  height: 2.5rem;
  /* border: 0.2px solid #B9B9B9; */
}

.InProgress {
  flex: 1;
  padding: 2%;

}

.Done {
  flex: 1;
  padding: 2%;
  padding-left: 16%;
}

.department-tools {
  display: flex;
  align-items: center;
}

.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  width: 35px;
  height: 35px;
}

/* filters */
.select-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  border: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 0;
  min-width: 150px;
  background-color: #ffffff;
}

.select-wrap label {
  width: inherit;
  color: #777;
  padding: 2px 8px 0;
}

select.select-filter {
  background-color: #ffffff;
  height: 35px;
  cursor: pointer;
  border: 0px;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
}


.teams::-webkit-scrollbar {
  height: 3px !important;
}

/* Track */
.teams::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
.teams::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.teams::-webkit-scrollbar-thumb:hover {
  background: #555 !important; 
}

@media (max-width:600px) {
  .all-departments{
    display: flex;
    flex-direction: column-reverse;
  }
}