.departments-page {
  padding: 2%;
  background-color: #fafafb;
  min-height: 100vh;
}

.departments-title {
  margin: 10px 0;
}

.all-departments {
  margin: 20px 0;
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 20px;
}

.department-Card {
  background-color: #e1edf6;
  border-radius: 20px;
  padding: 10px;
}

.dp-card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #0079bf;
}

.tasks-count {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #0079bf;
}

.tasks-count > img {
  margin-right: 5px;
}

.teams {
  display: flex;
  flex-wrap: wrap;
}

.teamName-badge {
  border-radius: 5px;
  width: max-content;
  padding: 1%;
  margin: 5px;
  border: 2px solid #1e89c750;
}

.teamName-badge:nth-child(1) {
  border-radius: 5px;
  width: max-content;
  padding: 1%;
  margin: 5px;
  margin-left: 0px;
  border: 2px solid #1e89c750;
}

.counter-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.counter-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.hrVertical {
  height: 2.5rem;
  border: 0.2px solid #88888885;
}

.InProgress {
  flex: 1;
  padding: 2%;
}
.Done {
  flex: 1;
  padding: 2%;
}

.department-tools {
  display: flex;
  align-items: center;
}

.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  width: 35px;
  height: 35px;
}

/* filters */
.select-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  border: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
}

.select-wrap label {
  width: inherit;
  color: #777;
  padding: 2px 8px 0;
}

select.select-filter {
  background-color: #ffffff;
  height: 35px;
  cursor: pointer;
  border: 0px;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
}
