@font-face {
  font-family: "Cairo-Bold";
  src: url(../../assets/fonts/Cairo-Bold.ttf);
}

body{
  /* Fixing height issues since there is an added 100% height for taskCard */
  height: auto !important;
}

.bold{
  font-family: "Cairo-Bold" !important;
  font-weight: bolder !important;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.main-form {
  min-height: 70%;
  background-color: #ffffff;
  display: inline-flex;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.white-side {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.black {
  width: 50%;
  padding: 20px;
  background-color: black;
  display: grid;
  place-items: center;
  color: aliceblue;
  text-align: center;
}

.login-btns {
  margin-top: 1.5em;
}

.password-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
  border: solid 0.5px #b4b6c4;
  padding-right: 0px;
}


/* 
.password-container:active{
  outline: 1px solid black;
} */

.password-input{
  display: block;
  font-family: "Cairo",sans-serif;
  width: 100%;
  color: black;
  padding: 11px;
  border: none;
  outline: none;
  text-align: left;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 0px;
}

.password-icon{
  position: absolute !important;
  right: 0;
}

.f-inputs {
  display: block;
  margin-top: 10px;
  font-family: "Cairo",sans-serif;
}

.btn-auth {
  width: 102%;
  height: 11%;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.input-auth {
  width: 96%;
  height: 11%;
  font-size: initial;
  padding: 11px;
  margin-bottom: 3%;
  border-radius: 5px;
  border: solid 0.5px;
  border-color: #b4b6c4;
  color: #b4b6c4;
}

.login-text {
  margin-bottom: 9%;
}

.person-img {
  margin-top: 70px;
}

.f-inputs {
  width: 100%;
  color: black;
  padding: 11px;
  outline: none;
  border: solid 0.5px #b4b6c4;
  text-align: left;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}

.f-inputs:active{
  outline: 1px solid black;
  border-radius: 5px;
}

.f-inputs:focus{
  outline: 1px solid black;
  border-radius: 5px;
}

.password-input:active{
  outline: 1px solid black;
  border-radius: 5px;
}

.password-input:focus{
  outline: 1px solid black;
  border-radius: 5px;
}

/* .Image {
  background-color: black;
}
 */
.error-text {
  color: red;
  margin: 10px 0px;
  text-transform: capitalize;
}

.success-text {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(36, 36, 36);
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
}
