/* Dev */

.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid black !important;
    outline: none !important;
}


.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root input {
    font-family: "Cairo", sans-serif;
}

.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root:hover fieldset {
    border: solid 1px #E4E4E4 !important;
    outline: none;
}


.input-wrapper>.MuiFormControl-root>.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: solid 1px #E30707 !important;
    outline: none !important;
}


.input-wrapper>.MuiFormControl-root>.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border: solid 1px #E30707 !important;
    outline: none !important;
}


/* Production  */

.input-wrapper>.MuiFormControl-root>.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused.css-1stqe5j .MuiOutlinedInput-notchedOutline {
    border: solid 1px #E30707 !important;
    outline: none !important;
}

.input-wrapper>.MuiFormControl-root>.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root.css-1stqe5j .MuiOutlinedInput-notchedOutline {
    border: solid 1px #E30707 !important;
    outline: none !important;
}

.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused.css-1stqe5j .MuiOutlinedInput-notchedOutline {
    border: 1px solid black !important;
    outline: none !important;
}

.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root.css-1stqe5j input {
    font-family: "Cairo", sans-serif;
}

.css-17bz7z2-MuiInputBase-root-MuiOutlinedInput-root.css-1stqe5j:hover fieldset {
    border: solid 1px #E4E4E4 !important;
    outline: none;
}

/* Custom Styles */

.error-border {
    border: solid 1px #E30707 !important;
    border-radius: 6px;
}

#outlined-error {
    font-family: "Cairo", sans-serif;
}

.label-input {
    font-weight: 500;
}