/* Textfield Styles */

.core-ui-textfield-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.core-ui-textfield-wrapper-margin{
    margin-top: 20px;
}

.core-ui-textfield-label {
    margin-bottom: 5px;
    font-family: "Cairo" !important;
    font-weight: bolder !important;
    text-transform: capitalize;
}

.core-ui-textfield {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: solid 1px #B4B6C4;
    outline: none;
    border-radius: 6px;
}

.core-ui-textfield::placeholder {
    color: #B4B6C4;
    text-transform: capitalize;
}

.core-ui-textfield:active {
    border: 0.5px solid black;
    border-radius: 5px;
}

.core-ui-textfield:focus {
    border: 0.5px solid black;
    border-radius: 5px;
}

/* Password Input Styles */

.password-input-wrapper {
    margin-top: 20px;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
    border: none;
    outline: none;
    padding-right: 0px;
}

.password-input {
    display: block;
    font-family: "Cairo", sans-serif;
    width: 100%;
    color: black;
    padding: 10px;
    height: 50px;
    border: solid 1px #B4B6C4;
    outline: none;
    text-align: left;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 0px;
}

.password-icon {
    position: absolute !important;
    right: 0;
}

.password-input-label {
    margin-bottom: 5px;
    font-family: "Cairo" !important;
    font-weight: bolder !important;
    text-transform: capitalize;
}

.password-input:active {
    border: 0.5px solid black;
    border-radius: 5px;
}

.password-input::placeholder {
    color: #B4B6C4;
}

.password-input:focus {
    border: 0.5px solid black;
    border-radius: 5px;
}

/* Input error */

.error-active {
    border: 1px solid #FE1A1A;
    outline: none;
}

.error-active:active {
    border: 1px solid #FE1A1A;
    outline: none;
}

.error-active:focus {
    border: 1px solid #FE1A1A;
    outline: none;
}