.category-page {
  padding: 2%;
  background-color: #fafafb;
  min-height: 100vh;
  font-family: 'Cairo', 'Helvetica', 'Arial', sans-serif;
}

#search-bar {
  width: 200px;
  font-size: 16px;
  padding: 6px 20px 6px 2px;
  border: 1px solid white;
  height: 100%;
  border-radius: 10px;
}
#search-bar:focus {
  outline: none;
}

.search-icon {
  cursor: pointer;
}

.subcategories {
  display: flex;
  max-width: 90%;
  flex-flow: row wrap;
}
.subcategory {
  position: relative;
  display: inline-block;
  margin-left: 0.5em;
  margin-top: 0.3em;
  width: fit-content;
  font: normal normal normal 13px/24px Cairo;
  font-weight: 650;
  background-color: #e0e0e0;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 4px;
  opacity: 1;
}
.remove-category {
  content: 'x';
  color: red;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: -3px;
  top: -12px;
}
.MuiTypography-root {
  font-family: 'Cairo';
}
.category-card {
  transition: transform 0.5s, box-shadow 1s;
}
.category-card:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 0 5px 10px rgba(153, 153, 153, 0.7);
}
