.category-page {
  padding: 2%;
  background-color: #fafafb;
  min-height: 100vh;
  font-family: "Cairo", "Helvetica", "Arial", sans-serif;
}

#search-bar {
  width: 200px;
  font-size: 16px;
  padding: 6px 20px 6px 2px;
  border: 1px solid white;
  height: 100%;
  border-radius: 10px;
}
#search-bar:focus {
  outline: none;
}

.search-icon {
  cursor: pointer;
}

.subcategories {
  display: flex;
  max-width: 90%;
  width: 100%;
  flex-flow: row wrap;
  margin-top: 10px;
}
.css-298dy0-MuiFormControl-root-MuiTextField-root{
  width: 100%;
  min-width: 150px;
}
.css-108j1xz-MuiFormControl-root-MuiTextField-root{
  width: 100%;
  min-width: 150px;
}
.subcategory {
  position: relative;
  display: inline-block;
  margin-left: 0.5em;
  margin-top: 0.3em;
  width: fit-content;
  font: normal normal normal 13px/24px Cairo;
  font-weight: 550;
  background-color: #F1F1F5;
  padding-right: 45px;
  padding-left: 10px;
  border-radius: 4px;
  opacity: 1;
}
.remove-category {
  content: "x";
  color: #92929D;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 6px;
  top: 1px;
}
.MuiTypography-root {
  font-family: "Cairo";
}
.category-card {
  transition: transform 0.5s, box-shadow 0.5s;
}
.category-card:hover {
  box-shadow: 0px 6px 20px #0000001A;
}

/* @media (max-width:900px) {
  .css-298dy0-MuiFormControl-root-MuiTextField-root{
    width: 80%;
    min-width: 150px;
  }
  .css-108j1xz-MuiFormControl-root-MuiTextField-root{
    width: 80%;
    min-width: 150px;
  }
}
@media (max-width:600px) {
  .css-298dy0-MuiFormControl-root-MuiTextField-root{
    width: 60%;
    min-width: 150px;
  }
  .css-108j1xz-MuiFormControl-root-MuiTextField-root{
    width: 60%;
    min-width: 150px;
  }
}
@media (max-width:400px) {
  .css-298dy0-MuiFormControl-root-MuiTextField-root{
    width: 100%;
    min-width: 150px;
  }
  .css-108j1xz-MuiFormControl-root-MuiTextField-root{
    width: 100%;
    min-width: 150px;
  }
} */