.overviewTitle {
  flex-direction: row;
}
.Icon {
  background-color: cadetblue;
}
.NotificationContainer {
  height: 200px;
}
.overviewTasksTable::-webkit-scrollbar {
  display: none !important;
  width: 3px;
  height: 2px;
  border-radius: 10px !important;
}
.overviewTasksTable::-webkit-scrollbar-track {
  margin-top: 50px;
  border-radius: 10px !important;
  border-color: #ececec !important;
}
.overviewTasksTable::-webkit-scrollbar-thumb {
  background: #9fa1ab;
  border-radius: 5px;
}
