.add-new-PM-btn {
  cursor: pointer;
  margin-left: auto;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 5px;
  height: 35px;
  padding: 5px 10px;
  font-weight: 600;
}

.add-new-PM-title {
  color: #30bcc7;
  font-weight: 600;
}

.label-PM {
  display: block;
  font-weight: bold;
  margin: 10px 0 !important;
}

.input-PM {
  width: 100%;
  font-size: initial;
  padding: 11px;
  border-radius: 5px;
  border: solid 0.5px;
  border-color: #b4b6c4;
  color: #b4b6c4;
  margin: 0;
  margin-top: 5px;
}
