.task-card {
  border-radius: 20px;
  padding: 10px;
  margin: 0;
}

.task-card-header-done {
  text-decoration: line-through;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.task-card-header-shared {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.task-card-header-not-clear {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.task-card-header-canceled {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.task-card-footer-done {
  background-color: #b4e5e9;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}
.task-card-footer-not-clear {
  background-color: #f0ddc3;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}
.task-card-footer-shared {
  background-color: #f0ddc3;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}
.task-card-footer-canceled {
  background-color: #f1cbcc;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}
.task-card-timeline-done {
  color: #ff974a;
  font-weight: bold;
  width: 100px;
  background-color: #e4e9e3;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 10px 0px 0 0px;
}
.task-card-timeline-not-clear {
  color: #0079bf;
  width: 110px;
  font-weight: bold;
  background-color: #dae6ef;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 10px 0px 0 0px;
}
.task-card-timeline-canceled {
  color: #dd2c2c;
  width: 65px;
  font-weight: 500;
  background-color: #f1cbcc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0px 0px 0px;
}
.onTime {
  color: #00acba;
  width: 90px;
  font-weight: bold;
  background-color: #b4e5e9;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 10px 0px 0 0px;
}
.aft-red {
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 10px 0px 0 0px;
}
.fileUpload {
  color: #783dbd;
  width: fit-content;
  font-weight: 500;
  background-color: #d6e0ef;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 0px 0px 0 15px;
}
.task-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 0 10px 0 10px;
  background-color: #ffffff;
  position: relative;
}
.task-option select {
  padding-top: 3px;
}
.projects-option label {
  width: inherit;
  color: #777;
  padding: 2px 4px 0;
}
.select-container {
  position: relative;
}
.line {
  position: absolute;
  border-left: 1px solid rgb(233, 233, 233);
  right: 20px;
  top: 0;
  height: 35px;
}
