.task-page {
  padding: 2%;
  background-color: #fafafb;
}
.not-started-border {
  border: #9fa1ab1a solid 2px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.not-started-header {
  background-color: #9fa1ab1a;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.not-started-task {
  border-radius: 20px;
  background-color: #9fa1ab1a;
  width: 312px !important;
  margin-left: 30px;
}
.shared-border {
  border: #9fa1ab1a solid 2px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.shared-header {
  background-color: #ECDAD7;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.shared-task {
  border-radius: 20px;
  background-color: #F4EDEC;
  width: 312px !important;
}

.in-progress-border {
  border: #ffc500 solid 1px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.in-progress-header {
  background-color: #fcefc0;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.in-progress-task {
  border-radius: 20px;
  background-color: #fbf5e2;
  width: 312px !important;
  margin-inline: 10px;
  margin-left: 30px;
}

.done-task {
  border-radius: 20px;
  background-color: #e1f3f5;
  width: 312px !important;
  margin-inline: 10px;
}
.review-task {
  border-radius: 20px;
  background-color: #E1EDF4;
  width: 312px !important;
  margin-inline: 10px;
}
.review-header{
  background-color: #B3D5E9;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.not-clear-task {
  border-radius: 20px;
  background-color: #f7f0e7;
  width: 312px !important;
  margin-inline: 10px;
}
.canceled-task {
  border-radius: 20px;
  background-color: #f7e6e7;
  width: 312px !important;
  margin-inline: 10px;
}
.not-clear-header {
  background-color: #f0ddc3;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.done-header {
  background-color: #b4e5e9;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.canceled-header {
  background-color: #f1cbcc;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.done-border {
  border: #00aaba4b solid 1px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.not-clear-border {
  border: #d2903456 solid 1px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.canceled-border {
  border: #d2343441 solid 1px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.task-broad-settings {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.select-task-board{
  width: 180px;
}
/* filters */
.task-board-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  border: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 0 2px 0 2px;
  background-color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  color: #777;
}

.task-board-option label {
  width: inherit;
  color: #777;
  padding: 2px 2px 0;
}
.add-new-task {
  cursor: pointer;
  border: #9fa1ab solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #e8e8e8;
  margin: 0 10px 10px 10px;
  min-height: 50px;
  font-weight: bold;
}
.MuiTypography-root {
  font-family: "Cairo";
}
.tasks-board-container {
  width: 1200;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.tasks-board-scroll {
  width: "auto";
  overflow: scroll;
  background-color: red;
}
.task-card-footer-inprogress {
  background-color: #fcefc0;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}
.task-card-footer-review {
  background-color: #b4d6eb;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}
.task-card-footer-shared {
  background-color: #ecdad7;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}
.task-card-footer-done {
  background-color: #b4d6eb;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}
.task-card-footer-notclear {
  background-color: #f0ddc3;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}

.task-card-footer-cancled {
  background-color: #f1cbcc;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 10px 0 0px;
}
