.task-page {
  padding: 2%;
  background-color: #fafafb;
  min-height: 400px;
}
.done-task {
  border-radius: 20px;
  background-color: #e1f3f5;
  min-height: 400px;
  margin-inline: 10px;
}
.not-clear-task {
  border-radius: 20px;
  background-color: #f7f0e7;
  min-height: 400px;
  margin-inline: 10px;
}
.canceled-task {
  border-radius: 20px;
  background-color: #f7e6e7;
  min-height: 400px;
  margin-inline: 10px;
}
.not-clear-header {
  background-color: #f0ddc3;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.done-header {
  background-color: #b4e5e9;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.canceled-header {
  background-color: #f1cbcc;
  font-weight: bold;
  border-radius: 15%;
  padding: 0 5px;
  margin: 0 5px 0 0;
}
.done-border {
  border: #00aaba4b solid 2px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.not-clear-border {
  border: #d2903456 solid 2px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.canceled-border {
  border: #d2343441 solid 2px;
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.task-broad-settings {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
/* filters */
.task-board-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  border: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 0 2px 0 2px;
  background-color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  color: #777;
}

.task-board-option label {
  width: inherit;
  color: #777;
  padding: 2px 2px 0;
}
.add-new-task {
  cursor: pointer;
  border: #9fa1ab solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #e8e8e8;
  margin: 0 10px 10px 10px;
  min-height: 50px;
  font-weight: bold;
}
.MuiTypography-root {
  font-family: 'Cairo';
}
.tasks-board-container {
  width: 1200;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.tasks-board-scroll {
  width: "auto";
  overflow: scroll;
  background-color: red;
}
