.btn-pm {
  width: 152px;
  height: 48px;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 37px;
}

.step2 {
  animation: filling 0.5s;
}

.closeIcon {
  float: right;
  cursor: pointer;
}

.inputs-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-gap: 20px; */
}
.inputs-grid > div {
  margin-inline: 8px;
}
.select-project {
  width: calc(96% - 11px);
  padding-left: 11px;
  border: solid 0.5px #b4b6c4;
  border-radius: 5px;
  color: #44444f;
  margin-top: 7px;
  background-color: white;
  font-weight: 600;
  font-size: 13px;
  height: 43px;
}

.input-project {
  width: calc(100%);
  height: 43px !important;
  font-size: 13px;
  padding: 11px;
  border-radius: 6px;
  /* Please don't change the border color, and use it instead with other inputs */
  border: solid 0.5px #e4e4e4;
  color: #44444f;
  font-weight: 600;
  margin: 0;
  margin-top: 7px;
}

.input-project::-webkit-input-placeholder {
  color: #b4b6c4;
  font-weight: 300;
}

.input-project:-ms-input-placeholder {
  color: #b4b6c4;
  font-weight: 300;
}

.input-project::placeholder {
  color: #b4b6c4;
  font-weight: 300;
}
.date-project {
  width: calc(100%) !important;
  height: 43px !important;
  font-size: 13px;
  border-radius: 6px;
  border: solid 0.5px #b4b6c4;
  color: #707683;
  font-weight: 500;
  margin: 0;
  margin-top: 7px;
}
input.date-project::-webkit-calendar-picker-indicator {
  background: url("../../../assets/img/dropdownIcon.svg") no-repeat;
}
.textarea-project {
  width: calc(96% - 11px);
  font-size: initial;
  padding: 11px;
  border-radius: 6px;
  border: solid 0.5px;
  border-color: #b4b6c4;
  color: #b4b6c4;
  margin: 0;
  margin-top: 7px;
  font-family: "Cairo", sans-serif;
}

.textarea-project::-webkit-input-placeholder {
  color: #b4b6c4;
  font-weight: 300;
}

.textarea-project:-ms-input-placeholder {
  color: #b4b6c4;
  font-weight: 300;
}

.textarea-project::placeholder {
  color: #b4b6c4;
  font-weight: 300;
}
.controllers {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cancelBtn {
  cursor: pointer;
  width: 220px;
  height: 42px;
  background-color: #f4f4f4;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 10px 0;
}

.loading-projects {
  margin-right: 10px;
}

.blackBtn {
  cursor: pointer;
  width: 220px;
  height: 42px;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 10px 0;
}

.addTaskBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  cursor: pointer;
  width: 400px;
  max-width: 80%;
  height: 40px;
  background-color: black;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-top: 10px;
}

table.allTask-table {
  margin: 15px 0;
  width: 100%;
  background-color: #fcfcfc;
  border: 0px !important;
  color: rgb(83, 83, 83);
}

table.allTask-table,
tr {
  border-style: solid;
  border-collapse: collapse;
}
tr {
  border: 0px solid;
  border-bottom: 1px solid rgb(197, 197, 197);
}

table.allTask-table th {
  text-align: left;
  padding: 0 5px;
  text-transform: capitalize;
}
table.allTask-table td.deleteTd {
  text-align: center;
}

.table-container-task-form {
  border-radius: 0px !important;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes filling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CUSTOM OF MUI FOR STEPPER */

.MuiStepIcon-root.Mui-active {
  color: #00acba !important;
}
.MuiStepIcon-root.Mui-completed {
  color: #00acba !important;
}

.MuiStepLabel-label.Mui-active {
  color: #00acba !important;
  font-weight: bold !important;
}
.label-project {
  font-weight: 600;
  display: block;
  font-weight: bold !important;
  margin: 10px 0 5px 0 !important;
  text-transform: capitalize;
}

@media (max-width: 900px) {
  .blackBtn {
    cursor: pointer;
    width: 150px;
    background-color: black;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin: 10px 0;
  }
  .inputs-grid {
    grid-template-columns: 1fr;
  }
  .addTaskBtn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .input-project {
    width: 38%;
  }
  .select-project {
    width: 38%;
  }
  .textarea-project {
    width: 38%;
  }
  .files {
    margin: 20px 0px;
  }
}
@media (max-width: 800px) {
  .input-project {
    width: 100%;
  }
  .select-project {
    width: 100%;
  }
  .textarea-project {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .input-project {
    width: 100%;
  }
  .select-project {
    width: 100%;
  }
  .textarea-project {
    width: 100%;
  }
}
