.clients-page {
  padding: 2%;
  background-color: #fafafb;
  min-height: 100vh;
}

.all-clients {
  margin: 20px 0;
  /*   display: grid; */
  /* width: 100%; */
  padding: 15px;
  /*  grid-template-columns: repeat(auto-fill, 380px);
  grid-gap: 20px; */
  border: 2px solid #e2e2ea;
  border-radius: 20px;
  overflow: hidden;
}

.client-card {
  background-color: #efebf2;
  border-radius: 20px;
  transition: transform 0.5s, box-shadow 0.5s;
  padding: 20px;
}

.client-card:hover {
  box-shadow: 0px 6px 20px #0000001A;
}

.cl-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: bold;
  color: #0079bf;
  background-color: red;
}

.clients-settings {
  display: flex;
  align-items: center;
}

/* filters */
.clients-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 0 10px 0 10px;
  background-color: #ffffff;
  position: relative;
}

.clients-option select {
  padding-top: 3px;
}

.clients-option label {
  width: inherit;
  color: #777;
  padding: 2px 8px 0;
}

.select-container {
  position: relative;
}

.line {
  position: absolute;
  border-left: 1px solid rgb(233, 233, 233);
  right: 20px;
  top: 0;
  height: 35px;
}

.counter-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

.counter-title {
  font-weight: 100;
  margin-bottom: 0px;
  color: #474747;
}

.counter-title-task {
  font-weight: 300 !important;
  margin-bottom: 0px;
  color: black;
}

.counter-container-tasks {
  margin-top: 15px;
  user-select: none;
  cursor: grab;
}

.counter-container-scroll-wrapper {
  width: 450px;
  display: flex;
  justify-content: flex-start;
}

.project-counter-wrapper:not(:last-child)::after {
/*   display: block;
  content: '';
  background: gray; */
}


.task-number-card {
  display: flex;
  /* box-shadow: 0px 3px 20px #0000000D; */
  width: 160px;
  border-radius: 5px;
  background-color: #F1F1F5;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.task-number-card:not(:first-child) {
  margin-left: 15px;
}

.task-number {
  font-size: 18px;
  font-weight: bolder;
  color: #783DBD;
}

.bounce {
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes bounce {
  from {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(0%);
  }

  75% {
    transform: translateX(-5%);
  }

  to {
    transform: translateX(0%);
    ;
  }
}


.clientScrollbar {
  padding-bottom: 10px;
  user-select: none;
}

/* width */
.clientScrollbar::-webkit-scrollbar {
  display: block !important;
  width: 5px;
  height: 3px;
  cursor: pointer;
}

/* Track */
.clientScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

/* Handle */
.clientScrollbar::-webkit-scrollbar-thumb {
  background: rgb(228, 228, 228);
  border-radius: 5px;
}

/* Handle on hover */
.clientScrollbar::-webkit-scrollbar-thumb:hover {
  background: lightgrey;
}

/* @media (max-width:1000px) {
  .all-clients {
    grid-template-columns: repeat(auto-fill, 350px);
  }
}

@media (max-width:810px) {
  .all-clients {
    grid-template-columns: repeat(auto-fill, 310px);
  }
}

@media (max-width:750px) {
  .all-clients {
    grid-template-columns: repeat(auto-fill, 100%);
  }
} */