.clients-page {
  padding: 2%;
  background-color: #fafafb;
  min-height: 100vh;
}

.all-clients {
  margin: 20px 0;
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 20px;
}

.client-card {
  background-color: #efebf2;
  border-radius: 20px;
  padding: 10px;
  padding-top: 25px;
}

.cl-card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #0079bf;
}

.clients-settings {
  display: flex;
  align-items: center;
}
