/* @import "~antd/dist/antd.css"; */
/* @import "antd/dist/antd.css"; */
/* @import url("/src/assets/css/antd-customize.css");
@import url("/src/assets/css/style.css"); */
@font-face {
  font-family: "Cairo";
  src: url(/src/assets/fonts/Cairo-Regular.ttf);
}

@font-face {
  font-family: "Cairo, Bold";
  src: url(/src/assets/fonts/Cairo-Bold.ttf);
}

@font-face {
  font-family: "Cairo, Regular";
  src: url(/src/assets/fonts/Cairo-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafb !important;
  /*   background-color: #fcfcfc; */
}

.unselectable {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.imageAlert {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

body {
  background-color: #fafafb;
  /* Below styles ensure fonts stay uniform accross all browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.desktopCustomScrollBar::-webkit-scrollbar {
  display: block !important;
  width: 3px;
  height: 2px;
}

.desktopCustomScrollBar::-webkit-scrollbar-track {
  margin-top: 50px;
  border-radius: 10px;
  border-color: #ececec !important;
}

.desktopCustomScrollBar::-webkit-scrollbar-thumb {
  background: #9fa1ab;
  border-radius: 5px;
}

@media (max-width: 900px) {
  /* width */
  .customScrollBar::-webkit-scrollbar {
    display: block !important;
    width: 5px;
    height: 2px;
  }

  /* Track */
  .customScrollBar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  .customScrollBar::-webkit-scrollbar-thumb {
    background: rgb(36, 32, 32);
    border-radius: 5px;
  }

  /* Handle on hover */
  .customScrollBar::-webkit-scrollbar-thumb:hover {
    background: black;
  }
}
