/* Base styles based on size */
@font-face {
    font-family: "Cairo, Bold";
    src: url(../../../assets/fonts/Cairo-Bold.ttf);
}

button {
    text-transform: uppercase;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-family: "Cairo Bold", sans-serif;
    font-weight: bolder;
}

/* Styles added based on the size */

.button-large {
    font-size: 16px;
    width: 456px;
    height: 50px;
}

.button-medium {
    font-size: 16px;
    width: 210px;
    height: 50px;
}

.button-small {
    font-size: 14px;
    width: 154px;
    height: 48px;
}

/* Styles added based on the color and UI */

button.main {
    background-color: #000000;
    color: #FFFFFF;
}

button.delete {
    background-color: #FE1A1A;
    width: 210px !important;
}

button.add {
    background-color: #FFC500;
    width: 100px !important;
}

button.cancel {
    background-color: #F4F4F4;
    color: #000000;
    width: 210px !important;
}

/* Styles added based on the action */

button.disabled {
    color: #A4A4AE;
    background-color: #F1F1F5;
}