.btn-pm {
  width: 152px;
  height: 48px;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 37px;
}

.container-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* width: calc(100vw - 230px); */
  /* left: 230px; */
  width: 100vw;
  left: 0px;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
}

.pop-up {
  min-width: 70vw;
  background-color: white;
  min-height: 300px;
  padding: 20px;
  animation: zoomIn 0.3s;
  max-height: 95vh;
  overflow: auto;
}
.step2 {
  animation: filling 0.5s;
}

.closeIcon {
  float: right;
  cursor: pointer;
}

.inputs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.select-project {
  width: calc(96% - 11px);
  padding: 11px;
  border: solid 0.5px #b4b6c4;
  border-radius: 5px;
  color: #1f1f1f;
  margin-top: 5px;
}

.input-project {
  width: calc(96% - 11px);
  font-size: initial;
  padding: 11px;
  border-radius: 5px;
  border: solid 0.5px;
  border-color: #b4b6c4;
  color: #b4b6c4;
  margin: 0;
  margin-top: 5px;
}

.textarea-project {
  width: calc(96% - 11px);
  font-size: initial;
  padding: 11px;
  border-radius: 5px;
  border: solid 0.5px;
  border-color: #b4b6c4;
  color: #b4b6c4;
  margin: 0;
  margin-top: 5px;
  font-family: "Cairo", sans-serif;
}
.controllers {
  display: flex;
  justify-content: space-between;
}

.cancelBtn {
  cursor: pointer;
  width: 200px;
  height: 45px;
  background-color: #f4f4f4;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.blackBtn {
  cursor: pointer;
  width: 200px;
  height: 45px;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.addTaskBtn {
  display: block;
  margin: auto;
  cursor: pointer;
  width: 263px;
  height: 45px;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

table.allTask-table {
  margin: 15px 0;
  width: 100%;
  background-color: #fcfcfc;
  border: 0px !important;
  color: rgb(83, 83, 83);
}

table.allTask-table,
tr {
  border-style: solid;
  border-collapse: collapse;
}
tr {
  border: 0px solid;
  border-bottom: 1px solid rgb(197, 197, 197);
}

table.allTask-table th {
  text-align: left;
}
table.allTask-table td.deleteTd {
  text-align: center;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes filling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CUSTOM OF MUI FOR STEPPER */

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #00acba !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #00acba !important;
}

.css-qivjh0-MuiStepLabel-label.Mui-active {
  color: #00acba !important;
  font-weight: bold !important;
}
