.btn-pm {
  width: 152px;
  height: 48px;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 37px;
}

.step2 {
  animation: filling 0.5s;
}

.closeIcon {
  float: right;
  cursor: pointer;
}

.inputs-grid {
  display: grid;
  width: 800px;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-gap: 20px; */
}

.select-project {
  width: calc(96% - 11px);
  padding-left: 11px;
  border: solid 0.5px #b4b6c4;
  border-radius: 5px;
  color: #000;
  margin-top: 7px;
  background-color: white;
  height: 43px;
}

.input-project {
  width: calc(96% - 11px);
  height: 43px !important;
  font-size: initial;
  padding: 11px;
  border-radius: 5px;
  border: solid 0.5px #b4b6c4;
  color: #b4b6c4;
  margin: 0;
  margin-top: 7px;
}

.textarea-project {
  width: calc(96% - 11px);
  font-size: initial;
  padding: 11px;
  border-radius: 5px;
  border: solid 0.5px;
  border-color: #b4b6c4;
  color: #b4b6c4;
  margin: 0;
  margin-top: 7px;
  font-family: "Cairo", sans-serif;
}
.controllers {
  display: flex;
  justify-content: space-between;
}

.cancelBtn {
  cursor: pointer;
  width: 200px;
  max-width: 45%;
  height: 45px;
  background-color: #f4f4f4;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 10px 0;
}

.blackBtn {
  cursor: pointer;
  width: 200px;
  max-width: 45%;
  height: 45px;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 10px 0;
}

.addTaskBtn {
  display: block;
  margin: 5px auto;
  cursor: pointer;
  width: 263px;
  max-width: 80%;
  height: 45px;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

table.allTask-table {
  margin: 15px 0;
  width: 100%;
  background-color: #fcfcfc;
  border: 0px !important;
  color: rgb(83, 83, 83);
}

table.allTask-table,
tr {
  border-style: solid;
  border-collapse: collapse;
}
tr {
  border: 0px solid;
  border-bottom: 1px solid rgb(197, 197, 197);
}

table.allTask-table th {
  text-align: left;
  padding : 0 5px;
  text-transform: capitalize;
}
table.allTask-table td.deleteTd {
  text-align: center;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes filling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CUSTOM OF MUI FOR STEPPER */

.MuiStepIcon-root.Mui-active {
  color: #00acba !important;
}
.MuiStepIcon-root.Mui-completed {
  color: #00acba !important;
}

.MuiStepLabel-label.Mui-active {
  color: #00acba !important;
  font-weight: bold !important;
}
.label-project {
  font-weight: 600;
}

@media (max-width:800px) {
  .blackBtn {
    cursor: pointer;
    width: 150px;
    max-width: 45%;
    background-color: black;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin: 10px 0;
  }
  .addTaskBtn{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .input-project{
    width: 80%;
  }
  .select-project{
    width: 80%;
  }
  .files{
    margin:20px 0px;
  }
}
@media (max-width:700px) {
  .input-project{
    width: 100%;
  }
  .select-project{
    width: 100%;
  }
  .textarea-project{
    width: 100%;
  }
}
@media (max-width:600px) {
  .input-project{
    width: 100%;
  }
  .select-project{
    width: 100%;
  }
  .textarea-project{
    width: 100%;
  }
}
