/* Filter- */
fieldset[id*="filter-"] {
  cursor: pointer;
  border-color: transparent !important;
  width: 100%;
  display: inline-flex;
  border-radius: 10px;
  justify-content: space-between;
  position: relative;
  border: 0px;
  margin-bottom: 5px;
}

fieldset[id*="filter-"]:focus {
  border-color: transparent;
  outline-color: transparent;
}

fieldset[id*="filter-"] .leftIcon {
  background-color: white;
  padding-inline: 10px;
  border-radius: 0px 10px 10px 0px;
  margin-left: 1px;
}

fieldset[id*="filter-"] .labelValue {
  font-size: 14px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  display: inline-flex;
  padding-left: 15px;
  cursor: pointer;
  padding-block: 10px;
  width: 100%;
  height: 38px !important;
}

fieldset[id*="filter-"] .label {
  padding-right: 5px;
  color: #696974;
  display: inline-block;
  white-space: nowrap;
}

fieldset[id*="filter-"] .value {
  font-weight: bold;
  text-transform: capitalize;
  font-weight: 14px;
}

/* Options */

ul[id="core-filter-options"].options {
  position: absolute !important;
  width: 100%;
  top: 100%;
  margin-top: 8px;
  list-style-type: none;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #f1f1f5;
  box-shadow: 0px 5px 15px #44444f1a;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 7.5px !important;
  z-index: 4 !important;
  text-transform: capitalize;
}

ul[id="core-filter-options"].options li.option {
  width: 100%;
  border-radius: 8px;
  color: #696974;
  opacity: 1;
  width: 100%;
  padding-block: 9px;
  padding-left: 10px;
}

ul[id="core-filter-options"].options li.option:hover {
  background: #9fa1ab0d 0% 0% no-repeat padding-box !important;
}

/* Select */

fieldset[id*="select"] {
  cursor: pointer;
  height: 50px;
  width: 100%;
  display: inline-flex;
  border-radius: 6px;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 0px;
  border: 1px solid #b4b6c4;
}

fieldset[id*="select"]:focus {
  border-color: transparent;
  outline-color: transparent;
}

fieldset[id*="select"][data-error="true"] {
  border: 1px solid red;
}

fieldset[id*="select"] .leftIcon {
  height: 20px;
  background-color: white;
  color: #92929d;
  padding-inline: 10px;
  border-radius: 0px 10px 10px 0px;
}

fieldset[id*="select"] .labelValue {
  font-size: 14px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  display: inline-flex;
  padding-left: 10px;
  cursor: pointer;
  padding-block: 10px;
  width: 100%;
  color: #707683 !important;
}

fieldset[id*="select"] .value {
  font-size: 14px;
  text-transform: capitalize;
}

ul[id="core-select-options"].options {
  position: absolute;
  width: 100%;
  top: 100%;
  margin-top: 8px;
  list-style-type: none;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #f1f1f5;
  box-shadow: 0px 5px 15px #44444f1a;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 7.5px !important;
  z-index: 3 !important;
  text-transform: capitalize;
  max-height: 200px;
  overflow-y: auto;
}

ul[id="core-select-options"].options li.option {
  width: 100%;
  border-radius: 8px;
  color: #696974;
  opacity: 1;
  width: 100%;
  padding-block: 9px;
  padding-left: 10px;
}

ul[id="core-select-options"].options.scroll li.option:hover {
  background: #9fa1ab0d 0% 0% no-repeat padding-box !important;
}

/* Custom Scrollbar : This is for SELECT options If they exceed a certain height and overflow inside a popup */

ul[id="core-select-options"].options.scroll {
  height: 200px;
}

ul[id="core-select-options"].options.scroll::-webkit-scrollbar {
  display: block !important;
  width: 3px;
  border-radius: 10px;
}

ul[id="core-select-options"].options.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  border-color: #ececec !important;
}

ul[id="core-select-options"].options.scroll::-webkit-scrollbar-thumb {
  background: #9fa1ab;
  border-radius: 5px;
}