.container-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* width: calc(100vw - 230px); */
  /* left: 230px; */
  width: 100vw;
  left: 0px;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
}

.pop-up {
  width: 50vw;
  background-color: white;
  min-height: 100px;

  padding: 20px;
  animation: zoomIn 0.3s;
  overflow: auto;
}
