.container-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* width: calc(100vw - 230px); */
  /* left: 230px; */
  width: 100vw;
  left: 0px;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  z-index: 2;
}

.pop-up {
  background-color: white;
  min-height: 200px;
  max-height: 95vh;
  padding: 20px;
  animation: zoomIn 0.3s;
  overflow: auto;
}

.small-pop-up {
  min-width: 350px;
  max-width: 95vw;
  background-color: white;
  min-height: 120px;
  border-radius: 5px;
  max-height: 95vh;
  animation: zoomIn 0.3s;
  overflow: auto;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width:800px) {
  .pop-up{
    width: 90vw !important;
    background-color: white;
    margin-top: 50px;
    min-height: 200px;
    max-height: 75vh;
    padding: 20px;
    animation: zoomIn 0.3s;
    overflow: auto;
  }
}

