@font-face {
  font-family: 'Cairo';
  src: url(../../assets/fonts/Cairo-Regular.ttf);
}

.trow:hover{
  box-shadow: rgba(33, 35, 38, 0.151) 0px 10px 10px -10px;
}

.thead{
  font-family: Cairo !important;
}

.Option {
  transition: all 0.9s;
}
.Option:hover {
  background-color: #f1f1f4 !important;
}
