/* input[type="text"] {
  background: transparent;
  border: none !important;
} */
.selectFilter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background-color: white;
  outline: none;
  border-width: 0;
  height: auto;
  width: auto;
  padding-left: 5px;
  outline: none;
  padding-right: 5px;
  -webkit-appearance: none !important;
}
.selectFilter .select-option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}
