.tasks-page {
  padding: 2%;
  background-color: #fafafb;
  min-height: 100vh;
}

.tasks-title {
  margin: 10px 0;
}

.task-status-Done {
  width: 100%;
  border-radius: 5px;
  background-color: #00aaba6b;
  text-align: center;
  height: 22px;
}
.task-status-Ended {
  width: 100%;
  border-radius: 5px;
  background-color: #ffeeee;
  color: #fc5a5a;
  text-align: center;
  height: 22px;
}
.task-status-Shared {
  width: 100%;
  border-radius: 5px;
  background-color: #fff4ec;
  color: #ff974a;
  text-align: center;
  height: 22px;
}

.tasks-tools {
  display: flex;
  align-items: center;
}

.deleteBtn-tasks {
  background-color: white;
  margin: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.search-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1%;
  height: 35px;
  border-radius: 10px;
  max-width: 180px;
}

.search-input {
  outline: none;
  height: 35px;
  padding-left: 5%;
  border: 0;
  background-color: transparent;
}

.loading-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #e2e2ea;
  height: 48px;
  margin-top: 10px;
}
.loading-card img {
  margin: 5px;
  animation: rotation infinite 1s linear;
}
.loading-card p {
  color: #909090;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
