/* @import "~antd/dist/antd.css"; */
/* @import "antd/dist/antd.css"; */
/* @import url("/src/assets/css/antd-customize.css");
@import url("/src/assets/css/style.css"); */
@font-face {
  font-family: "Cairo";
  src: url(assets/fonts/Cairo-Regular.ttf);
}
@font-face {
  font-family: "Cairo, Bold";
  src: url(assets/fonts/Cairo-Bold.ttf);
}
@font-face {
  font-family: "Cairo, Regular";
  src: url(assets/fonts/Cairo-Regular.ttf);
}
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
body {
  background-color: #fafafb;
}
::-webkit-scrollbar {
  display: none !important;
}
