.col-grey {
  color: #d5d5d5;
}
.pm-container {
  background-color: #ffffff;
  margin: -20px 100px 50px 30px;
  border-radius: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 1px 0px;
}
.pm-header {
  margin: 50px 100px 50px 30px;
}
.pmBtn {
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

@media (max-width:800px) {
  .pm-container{
    margin:20px 20px;
  }
}
@media (max-width:500px) {
  .pm-container{
    margin:20px 20px;
  }
}