.dropdown-cover {
  position: relative;
}

.dropdown-container {
  flex-direction: column;
  width: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: calc(-150px + 25px);
  box-shadow: 0 5px 15px #44444f10;
}

.dropdown-btn {
  cursor: pointer;
  background-color: transparent;
  border: 0px !important;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px;
  width: 100%;
}

.dropdown-btn:hover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-btn:last-child:hover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
}

.dropdown-btn-icon {
  margin: 0 5px;
  width: 20px;
  height: 20px;
}

.dropdown-btn-titleGrey {
  color: #696974;
}

.dropdown-btn-titleRed {
  color: #ff0000;
}

.dropdown-moreBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  width: 25px;
  height: 25px;
}

.grey-icon {
  filter: invert(43%) sepia(17%) saturate(219%) hue-rotate(201deg)
    brightness(90%) contrast(85%);
}
